{{define "title"}}401 - Unauthorized | Verified.ninja{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<img class="top-image" src="{{.BaseURI}}static/resources/top{{RANDIMG}}.jpg">
<div class="row">
	<div class="large-12 columns">
		<h1>401 - Unauthorized</h1>
		<p>I'm sure you were looking for something important, but we it looks like
		you don't have access to it. Navigate back to the previous page and try again!</p>
		{{template "part_footer" .}}
	</div>
</div>
{{end}}
{{define "foot"}}{{end}}