<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{{template "title" .}}</title>
    <meta name="keywords" content="verified.ninja, verified ninja, online dating photo verification, photo verification">
    <meta name="description" content="Photo Verification for Online Dating. Say goodbye to outdated photos, inactive profiles, and robots.">

	<!-- Favicons from http://www.favicon-generator.org/ -->
	<link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/static/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
	<link rel="manifest" href="/static/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/static/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	{{CSS "static/css/normalize3.0.0.min.css"}}
	{{CSS "static/css/foundation.css"}}
	{{CSS "static/css/font-awesome.min.css"}}
	{{CSS "//fonts.googleapis.com/css?family=Open+Sans:300,400,bold,italic"}}
	{{CSS "static/css/global.css"}}
	
	{{JS "static/js/modernizr2.7.1.min.js"}}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	{{template "head" .}}
	
  </head>
  <body>

<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{.BaseURI}}"><img src="{{.BaseURI}}static/resources/verifiedninja32.png" style="margin-right: .5rem;"> Verified.ninja</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
   {{template "part_menu.tmpl" .}}
  </section>
</nav>

<input id="BaseURI" type="hidden" value="{{.BaseURI}}">
<div id="flash-container">
{{range $fm := .flashes}}
	<div data-alert id="flash-message" class="alert-box-fixed0 alert-box-fixed {{.Class}}">{{.Message}}<a href="#" class="close">&times;</a></div>
{{end}}
</div>

{{template "content" .}}

{{JS "static/js/jquery1.11.0.min.js"}}
{{JS "static/js/underscore-min-1.7.0.js"}}
{{JS "static/js/foundation.js"}}
{{JS "static/js/global.js"}}

{{template "foot" .}}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67133014-1', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
  ga('set', '&uid', '{{.UserIdGA}}');
</script>

  </body>
</html>