{{define "part_about"}}
<h2>What is Verified.ninja?</h2>
<p>Verified.ninja allows people on dating websites to use 
our team to verify appearances. We make 
sure everyone on our website actually looks like their photos on dating websites. 
Once we verify multiple photos, we give our <strong>Verified.ninja</strong> status which makes
sorting through dating profile photos much easier for you.</p>

<h2>Who would want to be a Verified.ninja?</h2>
<p>Who wouldn't want to be a ninja? If you are tired of looking through dating websites
with old photos, inactive dating profiles, and robots, Verified.ninja will help you find the
genuine people in the dating world.</p>

<h2>I'm a Verified.ninja...now what?</h2>
<p>Congratulations! First, you should upload the public photo we verified and stamped with our Verified.ninja logo to your dating website.
Then, you should add a public link to your profile on Verified.ninja (if the dating website allows you to post that in your profile).
With both of these things in place, you make it easy for people to verify your status is current.</p>

<h2>What does it mean to be a Verified.ninja?</h2>
<p>In order to be a Verified.ninja, you must follow all of these steps:</p>
<ol>
<li>Create a new account on our website</li>
<li>Verify the email address you used to create the account. The email account must not be a throw away account because
a verification email is sent every 30 days in order to keep the account verified.</li>
<li>Upload a photo of yourself holding a piece of paper with a passphrase that is unique.
The photo must show the face and upper torso. The photo must be taken in a well-lit area.</li>
<li>Add the username for the dating website to ensure no one else can use the name. This also allows people to verify
the photos on your dating website have not been forged.</li>
<li>Download the verified photo(s) with the Verified.ninja logo at the top right.</li>
<li>Upload the verified photo(s) to your dating website to let other people know you are a Verified.ninja.</li>
</ol>

<h2>If a person's photos don't have the Verified.ninja logo in the top right corner, could they still be a Verified.ninja?</h2>
<p>Absolutely. There are dating websites that will reject photos if there are any added markings. Fortunately, there are a few
things you can do to check if a person is a Verified.ninja.</p>
<ul>
<li><strong>Most Popular:</strong> <a href="https://chrome.google.com/webstore/detail/verifiedninja/nonclnlmehgbjgikmnkafgamfjkdogdb">
Download the Chrome browser extension called <strong>Verified.ninja</strong></a> and install it. A Verified.ninja icon will automatically appear
next to every username on OKCupid and ChristianMingle that is verified. It's easy!</li>
<li><strong>Alternative:</strong> Go to <a href="{{.BaseURI}}">{{.BaseURI}}</a>. Click on <strong>Verify a User</strong>. Select the dating website from the dropdown. Type in the username and click <strong>Verify</strong>.</li>
</ul>

<h2>A person on a website has the Verified.ninja logo on their photo, but I can't find their profile on your website. What's up?</h2>
<p>It could mean a couple things. First, the person is not a current Verified.ninja. Their profile must be locatable on our website
or they are NOT verified. The person may have been verified in the past, but
has not taken the necessary steps to keep their status current. The person may have used an art program to add the logo to their
photo to make you believe they are a real person. If so, please submit a link to the website where you see the photo so
we can investigate. Thanks for protecting the community!</p>

<h2>How do we get more people to use Verified.ninja?</h2>
<p>We suggest putting text like this in your profile: I'm a Verified.ninja! Come join the party!</p>

<h2>How much does Verified.ninja cost to use?</h2>
<p>It's free and we intend to keep it that way!</p>

<h2>What isn't Verified.ninja?</h2>
<p>We do not conduct background checks or verify any personal information. We don't have addresses, phone numbers,
social security numbers, bank account numbers, or any other numbers for our members. 
We simply require email addresses that must be verified every 30 days and photos
that need to be updated every 3 months. We take pride in our ability to verify photos using various techniques
to ensure they are genuine. We will reject photos with an explanation if they don't meet our strict requirements.</p>
{{end}}