{{define "part_footer"}}
<footer>
  <hr>
	<p class="text-center">&#169; Verified.ninja 
		| <a href="{{.BaseURI}}about">About</a>
		| <a href="{{.BaseURI}}contact">Contact our Team</a>
		| <a href="{{.BaseURI}}terms">Terms</a>
	</p>
</footer>
{{end}}