{{define "title"}}Terms of Service | Verified.ninja{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<img class="top-image" src="{{.BaseURI}}static/resources/top{{RANDIMG}}.jpg">
<div class="row">
	<div class="large-12 columns">
		<h1>Terms of Service</h1>
		
<p>We know you don't how difficult it is to read the Terms of Service so we made it as simple as possible for all of us.</p>
<div><strong>We would like you to observe the following important rules:</strong></div>

<ol>
<li>Please don't abuse our system.</li>
<li>Please don't create fake accounts.</li>
<li>Please don't use a temporary email address. We promise to keep your email address safe and only notfiy you of important items.</li>
<li>Please don't use automation tools like bots or auto-clickers.</li>
<li>Please don't buy or sell accounts.</li>
<li>Please don't create an account for someone other than yourself because it destroys the integrity of our system.</li>
<li>Please don't add any content (e.g. photos, usernames) that promotes any of the following:
    <ul>
    <li>Pornography or adult content</li>
    <li>Racism</li>
    <li>Excessive profanity</li>
    <li>Hacking</li>
    <li>Virus, malware or bots</li>
    <li>Illicit drugs</li>
    </ul>
</li>
</ol>

<p><strong>We reserve the right to suspend accounts that break any of the rules.</strong> Please note that suspensions will normally be made without any warning or notification. If you feel an error has been made then you may ask us to review the suspension.</p>
<p><strong>We may change our terms at any time, so please check here often for updates.</strong></p>
<hr />
<h2>Privacy Policy</h2>
<p>We respect your privacy and do everything we can to safeguard your personal information.</p>
<p><strong>Collection and use of personally identifying information</strong></p>
<p><strong></strong>We collect your email address, name and potentially other information volunteered when you either register or communicate with us. Also when visiting our website, our system may record your activity, IP address, browser information and information about the referring site.</p>
<p>We use the information gathered for the provision of services to you and for improving your experience with the website. We will never share your email with a third party.</p>
<p>Should you have any questions or concerns about our terms or privacy policy, please feel free to <a title="Contact Us" href="/contact">contact us</a>.</p>
		
				<p>Page last updated: 9/2/2015</p>
		
		{{template "part_footer" .}}
	</div>
</div>
{{end}}
{{define "foot"}}{{end}}