{{define "title"}}Update Password | Verified.ninja{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<img class="top-image" src="{{.BaseURI}}static/resources/top{{RANDIMG}}.jpg">
<div class="row">
	<div class="small-12 column">
		<h1>Update Password</h1>

<form method="post">
	
	<div>
		<label for="passwordold">
		<input type="password" id="passwordold" name="passwordold" maxlength="100" placeholder="Current Password" value="" />
		</label>
	</div>
	
	<div>
		<label for="passwordnew">
		<input type="password" id="passwordnew" name="passwordnew" maxlength="100" placeholder="New Password" value="" />
		</label>
	</div>
	
	<div class="g-recaptcha" data-sitekey="6LdCbAsTAAAAAEI-OgATY0he0yII7k2ppJ2xNlEm" style="margin-bottom: 1rem;"></div>
	
	<div><input type="submit" value="Update Password" class="button" /></div>
	
	<input type="hidden" name="token" value="{{.token}}">
</form>

{{template "part_footer" .}}

	</div> <!-- column -->
</div> <!-- row -->

{{end}}
{{define "foot"}}{{end}}